body{
    margin: 0;
}
a{
    text-decoration: none;
    color: #222222;
}
#wk{
    height: 1000px;
}
第一部分
.b1{
    height: 3%;
    width: 100%;
    background-color:#F2F3F4 ;
}
.b1 span{
    font-size:15px;
    padding-left:10px;
    display: flex;
    padding-top: 4px;
    color: #333333;
    background-color:#F2F3F4 ;
}
/*第二部分*/
.b2{
    height: 5%;
    width: 100%;
}
#b2-a{
    height: 35px;
    width: 100px;
    margin-top: 12px;
    margin-left: 30px;
    border-radius: 7px;
    border: #F7F7F7 2px solid;
}
#b2-a span{
    font-size:15px;
    padding-left:19px;
    display: flex;
    padding-top:7px;
}
/*第四部分*/
#b3{
    height: 18%;
}
.b3-a1{
    height: 33%;
    width: 100%;
}
.b3-a2{
    height: 33%;
    width: 100%;
}
.b3-a3{
    height: 33%;
    width: 100%;
}
.b3-b2{
    height: 100%;
    width: 32.6%;
    float: left;
}
.b3-c{
    height: 52%;
    width: 80%;
    border-radius: 7px;
    margin-left: 10px;
    margin-top: 13px;
    display: flex;
    border: #F2F3F4 2px solid;
}
.b3-d span{
    float: left;
    margin-top: 5px;
    margin-left: 30px;
}
.b3-d2 span{
    float: left;
    margin-top: 5px;
}
/*第六部分*/
.d5{
    height: 4%;
    border-bottom:#F2F3F4 2px solid;
}
.d5 a{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}





